.gustWindow{
    width: 500px;
    min-height: 300px;
    max-height: 600px;
    position: fixed;
    top: 100px;
    left: 800px;
    z-index: 9999;
    box-shadow: 1px 1px 5px 0px gray;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
}
.gustWindow header{
    height: 20px;
    min-height: 20px;
    width: 100%;
    background-color: #dedede;
    display: flex;
    justify-content: end;
    align-items: baseline;
}
#closeWindowButton{
    background-image: url("chrome-extension://fgjjhpcgenalnkfeddmlhdhbkobdekbl/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 3px;
}
.gustWindow .container{
    width: 96%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    overflow-x:hidden;
}
.gustWindow textarea{
    height: 100px;
    min-height: 100px;
}
.gustWindow button{
    width: 20%;
    margin: 0.5rem 0;
}
.gustWindow .elementPicker{
    display: flex;
    align-items: center;
}
.gustWindow .elementPicker input{
    width: 100%;
}
.gustWindow .elementPicker label{
    display: flex;
    justify-content: center;
    width: 35px;
}
.gustWindow .elementPicker .range{
    padding: 0;
}
